<strong>by:<a href="{% url 'profile' comment.author.id %}">{{ comment.author.username }}</strong></a>

<p>
    
    <i>comment:</i> {{ comment.content }}
</p>
{% if comment.author.id == user.id %}
    <p>
        <a href="{% url 'comment_update' comment.id %}">Edit comment</a>
    </p>
    <p>
        <a style="color: red";href="{% url 'comment_delete' comment.id %}">Delete comment</a>
    </p>
{% endif %}
{%include 'posts/comment_like.html'%}
<p>view full comment <a href="{% url 'comment_detail' comment.id %}">detail</a> </p>
