{% extends 'base.html' %}
{% block content %}
    comment by: {{ comment.author.username }}
    <p>created at:({{ comment.created_at }})</p>
    <br>
    <p>content:{{ comment.content|safe }}</p>
    <br>
    <p>likes: {{ comment.like_count }}</p>
    {% include 'posts/comment_like.html' %}
    {% if comment.author.id == user.id %}
        <p>
            <a href="{% url 'comment_update' comment.id %}">Edit comment</a>
        </p>
        <p>
            <a style="color: red;" href="{% url 'comment_delete' comment.id %}">Delete comment</a>
        </p>
    {% endif %}
</ul>
{% endblock %}
