{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published  by <a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a>
    </p>
    <p class="date">Lates version {{ post.updated_at }}</p>
    <strong>CONTENT:</strong>{{ post.content|linebreaks }}
    {#authenticated edit or delete#}
    {% if user.is_authenticated and user.id == post.author.id %}
        <p>
            <a style="color: red;" href="{% url 'delete_post' post.id %}">Delete post</a>
        </p>
        <br>
        <p>
            <a href="{% url 'update_post' post.id %}">Edit post</a>
        </p>
    {% endif %}
    {# like post #}
    {% if request.user.is_authenticated and user.id in post.likes %}
        <form method="post" action="{% url 'unlike_post' post.id %}">
            {% csrf_token %}
            <strong>
                <p style="color: green;">LIKED</p>
            </strong>
            <button class="btn btn-outline-success" type=submit>UNLIKE</button>
        </form>
    {% elif request.user.is_authenticated %}
        <form method="post" action="{% url 'like_post' post.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-success" type=submit>LIKE</button>
        </form>
    {% endif %}
    <br>
    {% if request.user.is_authenticated  and not already_reposted %}
        <form method="post" action="{% url 'repost' post.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-success" type=submit>REPOST</button>
        </form>
    {% elif request.user.is_authenticated and already_reposted %}
        <form method="post" action="{% url 'undo_repost' post.id %}">
            {% csrf_token %}
            <strong>
                <p style="color: green;">REPOSTED</p>
            </strong>
            <button class="btn btn-outline-success" type=submit>REMOVE REPOST</button>
        </form>
    {% endif %}
    <br>
    {% if request.user.is_authenticated %}
        <p>
            <a href="{% url 'create_comment' post.id %}">ADD COMMENT</a>
        </p>
    {% endif %}
    <br>
    <strong>TAGS:</strong>
    {% for tag in post.tags %}
        <li>
            <a href="{% url 'tag_posts' tag %}">{{ tag }}</a>
        </li>
    {% empty %}
        No Tags yet
    {% endfor %}
    <p>
        <strong>Comments:</strong>
    </p>
    <ul>
        {% for comment in comments %}
            <li>{% include 'posts/comment_include.html' %}</li>
        {% empty %}
            NO COMMENTS
        {% endfor %}
    </ul>
{% endblock %}
